{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="cv-skills">
    <div class="header-cv">{{sks.category}} Skills</div>
    <section class="cv-skills-row">
        {% for sks in skills %}
            <div class=cv-skill-entry>
                <div class="header-sub-cv">{{sks.category}} </div>
                {% for sk in sks.skill%}
                    <div class="skill">{{sk}}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
</section>
{% endif %}