
%----------------------------------------------------------------------------------------
%	PACKAGES AND OTHER DOCUMENT CONFIGURATIONS
%----------------------------------------------------------------------------------------

\documentclass{resume} 

% \usepackage[T1]{fontenc}
% \usepackage[utf8]{inputenc}
% \usepackage{geometry}
% \geometry{textwidth=6cm}
% \usepackage{lmodern}
% \usefont{OT1}{lmr}{bx}{n}

\newcommand\tab[1][1cm]{\hspace*{#1}}
\usepackage[left=0.5in,top=0.5in,right=0.5in,bottom=0.5in]{geometry} 
%\newcommand{\tab}[1]{\hspace{.2667\textwidth}\rlap{#1}}
%\newcommand{\itab}[1]{\hspace{0em}\rlap{#1}}
\name{{{name}}} 
\address{{{contact.phone}} \\ {{contact.email}} \\ github.com/{{contact.github}} \\ {{contact.website}}} 

\begin{document}

%----------------------------------------------------------------------------------------
%	EDUCATION SECTION
%----------------------------------------------------------------------------------------

\begin{rSection}{Education}
{% for edu in education %}
{\bf {{edu.university}} } \hfill {\em {{edu.time}}} 
\\ {{edu.degree}}
{% endfor %}
\end{rSection}


%--------------------------------------------------------------------------------
%    Experience
%--------------------------------------------------------------------------------
\begin{rSection}{Experience}

%------ CVATE ------

\begin{rSubsection}{\bf Shift5 Inc.} {\em November 2020 - Current} { Cyber Security Engineer}{}
\begin{itemize}
\item Helped architect and write a data processing pipeline to enrich and alert on malicious serial data.
\begin{itemize}
\item\small Implemented parsers based off of Interface Control Documents (ICDs) to convert serial data to engineering units. Familiar with ARINC429, MIL-STD-1553, ASCB, CAN/J1939.
\item\small Interfaced with external APIs like ELK stack and Splunk to visualize data.
\end{itemize}
\item Provisioned and deployed hardware/software stack on customer platforms.
\item Created and modified CI/CD pipelines to test, build, and deploy python, C++ packages, and docker containers. 
\end{itemize}
\end{rSubsection}

\begin{rSubsection}{\bf Trideum Corporation} {\em February 2020 - October 2020} { Software Engineer}{}
\begin{itemize}
\item Created RF tools with GNURadio and Software Defined Radios (SDR) to collect and reverse engineer unknown RF Waveforms.
\item Designed and implemented a software stack to emulate a Satellite communications to stimulate transceivers.
\end{itemize}
\end{rSubsection}

\begin{rSubsection}{\bf Auburn University} {\em Febuary 2019 - February 2020} {Junior Software Engineer}{}
\begin{itemize}
\item Developed and deployed a Cyber/RF threat platform using bash and debian-installer.
\item Implemented and managed network services like repositories, git/svn, ftp, DHCP, PXE.
\item Created a tool to collect, store, and visualize data from a 1553 bus using C/C++ and Elastic Stack.
\end{itemize}
\end{rSubsection}

%------ Auburn ------
\begin{rSubsection}{\bf Auburn University} {\em June 2017 - December 2018} {Undergraduate Research Student}{}
\begin{itemize}
\item Army Open Source Vulnerability Assessment. 
\begin{itemize}
\item\small Led a team of undergrad and graduate students to develop an exploitation methodology for BFT/IBCS systems via Software Defined Radio.
\end{itemize}
\end{itemize}
\begin{itemize}
\item Project lead for a rogue cellphone tower detection project.
\begin{itemize}
\item\small Used a raspberry pi equipped with a SIM unit and GPS unit to detect and log cell tower data. The data was piped to a server with a Cassandra Database and visualized with a NodeJS server with Google Maps API.
\end{itemize}
\end{itemize}
\end{rSubsection}
\end{rSection}

%----------------------------------------------------------------------------------------
%	TECHNICAL STRENGTHS SECTION
%----------------------------------------------------------------------------------------

\begin{rSection}{Skills}

\begin{tabular}{ @{} >{\fseries}l @{\hspace{6ex}} l }
{% for cat, skills  items() %}
{{cat}} \ & {% for skill in skills %}skill, {% endfor %} \\
{% endif %}
\end{tabular}

\end{rSection}

\end{document}
